* {
    box-sizing: border-box;
    font-family: kelsonBold, serif;
}

div {
    display: block;
}

.Arial-font {
    font-size: 16px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    color: #666666;
    font-weight: 300;
}

.box {
    width: 1100px;
    height: 453px;
    border: 2px solid black;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

img {
    float: left;
    display: block;
    width: 450px;
    height: 450px;
    z-index: 999;
    background-size: 100%;
}

.content {
    position: relative;
    float: left;
    padding-left: 30px;
    width: 100%;
}

.h1, h1, h2{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 4px;
    line-height: 30px;
    text-transform: uppercase;
    color: #50222b;
}

.product-price {
    font-size: 30px;
    line-height: 48px;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.AddToCart {
    display: inline-block;
    background: white;
    border: 1px solid black;
    padding: 2px 40px;
    text-transform: uppercase;
    line-height: 34px;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
    text-wrap: nowrap;
}

button:hover {
    background-color: black;
    color: white;
}

hr {
    border: 1px solid #50222b;
}

.description {
    text-wrap: wrap;
}

/* nhỏ hơn 769px sẽ chạy */
@media (max-width: 769px) {
    img {
        width: 50%;
        height: 50%;
        background-repeat: no-repeat;
    }
    .box {
        width: 90%;
        height: 90%;
    }
    .content {
        margin-left: -15px;
    }
}
@media (max-height: 741px){
    .Arial-font {
        font-size: 12px;
    }
}

/* lớn hơn 769px sẽ chạy  */
@media only screen and (min-width: 769px) {
    .content {
        width: 50%;
    }
}

